@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}

.main{
    background-color: #2b589f;
    height: 100vh;
    position: relative;
    color:white;
    text-align: center;
    padding-top: 50px;
}
#header {
    position: fixed top;
}


/*body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;           
    font-size: 20px;
    background-color: #b2bfd1;
}



.header {
    background-color: #141b25!important;
    position: relative;
    width: 100%;
    top:0px;
}
.spacer{
    margin-bottom: 120px;
    visibility: hidden; 
}
.image{
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5%;
}
a {
    color: inherit;
    text-decoration: underline;
}


.accordion {    
    background-color:white ;
    padding: 10px;
    margin: 0 auto;
    list-style: none outside;
}
.accordion > * + * { 
    border-top: 1px solid white;        
}
.accordion-item-hd {
    display: block;
    padding: 10px 30px 10px 10px;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color:black;
    text-align:justify ;
}
.accordion-item-input:checked ~ .accordion-item-bd {
    max-height: 1000px;
    padding-top: 15px;
    margin-bottom: 15px;
    -webkit-transition: max-height 1s ease-in, margin .3s ease-in, padding .3s ease-in;
    transition: max-height 1s ease-in, margin .3s ease-in, padding .3s ease-in;
}
.accordion-item-input:checked ~ .accordion-item-hd > .accordion-item-hd-cta {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);               
}
.accordion-item-hd-cta {
    display: block;
    width: 30px;
    position: absolute;
    top: calc(50% - 6px );
    right: 0;
    pointer-events: none;
    -webkit-transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
    text-align: center;
    font-size: 16px;
    line-height: 1;               
}
.accordion-item-bd {
    max-height: 0;
    margin-bottom: 0;
    overflow: hidden;
    -webkit-transition: max-height .15s ease-out, margin-bottom .3s ease-out, padding .3s ease-out;
    transition: max-height .15s ease-out, margin-bottom .3s ease-out, padding .3s ease-out;
    background-color:white ;
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
}
.accordion-item-input {
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1;
    overflow: hidden;
    position: absolute;
    left: -9999px;               
}*/